*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #111;
    
}

.string{
    width: 70%;
    height: 200px;
    position: absolute; /* add this line */
    top: 50%; /* add this line */
    left: 50%; /* add this line */
    transform: translate(-50%, -50%);
}

